@keyframes blobAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animated-blob {
    animation: blobAnimation 5s infinite;
  }