@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 102, 0) black;
    scrollbar-height: 100px;
}
@layer base {
    html {
        font-family: 'Poppins', sans-serif;
    }
}

@layer utilities {
    @media screen and (max-width: 1023.5px) {
        .custom-bg {
            background-color: #0e0b10; /* Replace with your desired color code */
            border-bottom-left-radius: 80%;
        }
    }
}

.scrollToTop {
    position: fixed;
    bottom: 6%;
    right: 2%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.scrollToTop.show {
    opacity: 1;
}

.scrollToTop.hide {
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .scrollToTop > svg {
        fill: rgb(255, 102, 0);
    }
}

*::-webkit-scrollbar {
    width: 0.5em;
    background: black;
}

*::-webkit-scrollbar-thumb {
    background: rgb(255, 102, 0);
}

*::-webkit-scrollbar-thumb:hover {
    background: #444;
}
