.main {
    width: 19rem;
    height: 22rem;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.main:hover .username {
    transform: translateY(0);
    opacity: 1;
}
.main::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    z-index: 4;
    top: -7rem;
    right: -6rem;
    background: linear-gradient(
        0deg,
        rgba(131, 58, 180, 1) 3%,
        rgba(217, 66, 104, 1) 20%,
        rgba(250, 185, 104, 1) 51%
    );
    opacity: 0.5;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
}
.main:hover::before {
    width: 20rem;
    height: 20rem;
    width: 22rem;
    aspect-ratio: 1.2;
    z-index: 4;
    top: -14rem;
    right: -4rem;
}
.spimg {
    width: 7rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 4rem 0;
    z-index: 5;
}
.username {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(3rem);
    transition: ease-in;
    font-weight: 400;
    transition-duration: 300ms;
    opacity: 0;
}
.speaker {
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    width: 100%;
    position: relative;
    opacity: 0.2;
    background: linear-gradient(
        0deg,
        rgba(131, 58, 180, 1) 17%,
        rgba(217, 66, 104, 1) 46%,
        rgba(250, 185, 104, 1) 88%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-fill-color: transparent;
}
.circleContainer {
    width: fit-content;
    height: fit-content;
}
